2_sourceCode\AVR_BSP\Debug
*.o
2_sourceCode/.metadata
2_sourceCode/AVR_BSP/Debug/MCAL/GPIO/subdir.mk
2_sourceCode/AVR_BSP/Debug
2_sourceCode/CONTROL_ECU/Debug/
2_sourceCode/HMI_ECU/Debug
3_simulation/final_program_project/Final-Project.pdsprj.DESKTOP-IAB9VBS.Mustafa.workspace
2_sourceCode\HMI_ECU\Door Locker - HMI_ECU\Debug
2_sourceCode\CONTROL_ECU\Door Locker - HMI_ECU\Debug